<div id="install-container" class="d-flex justify-content-center">

  <mat-card id="install-card" class="mt-2">

    <mat-card-title class="d-flex justify-content-center">Instru&ccedil;&otilde;es de instala&ccedil;&atilde;o</mat-card-title>

    <mat-card-subtitle class="d-flex center">
      Minha Barra &eacute; um aplicativo web, n&atilde;o necessita de instala&ccedil;&atilde;o, para utilizar basta acessar o site
      minhabarra.com.br, para facilitar, vamos criar um atalho de acesso r&aacute;pido ao site,
      siga as instru&ccedil;&otilde;es abaixo.
    </mat-card-subtitle>

    <mat-card-content class="d-flex flex-column">

      <div class="d-flex flex-column">

        <h3 class="center">Adicione o &iacute;cone do site &agrave; Tela de Inicio</h3>

        <p>Com a p&aacute;gina do site aberta, toque no &iacute;cone de menu, que poder&aacute; ser um desses abaixo:</p>

        <div class="d-flex flex-row justify-content-around mt-3 mb-3">
          <fa-icon [icon]="faBars" size="2x" [style]="{'stroke': 'blue', 'color': 'blue'}"></fa-icon>
          <fa-icon [icon]="faEllipsisVertical" size="2x" [style]="{'stroke': 'blue', 'color': 'blue'}"></fa-icon>
          <img style="width: 24px;" src="resources/images/menu-iphone.png" alt="Menu navegador iPhone" />
        </div>

        <p>Role o menu e localize a op&ccedil;&atilde;o:</p>

        <div class="d-flex flex-column justify-content-center mt-1 mb-3">
          <span><i>Adicionar &agrave; tela inicial</i></span>
          <span>ou <i>Adicionar &agrave; Tela de In&iacute;cio</i></span>
          <span>ou <i>Adicionar &agrave; tela</i></span>
          <span>ou <i>Adicionar p&aacute;gina a > Tela inicial</i></span>
        </div>

        <p>*No iPhone, caso n&atilde;o veja a op&ccedil;&atilde;o "Adicionar &agrave; Tela de In&iacute;cio", você pode adicion&aacute;-la.
          Role at&eacute; a parte inferior da lista, toque em Editar A&ccedil;&otilde;es e toque em (+)
          "Adicionar &agrave; Tela de In&iacute;cio".</p>

        <p>Uma tela de confirma&ccedil;&atilde;o ser&aacute; exibida:</p>

        <div class="d-flex flex-row justify-content-around align-items-center mb-2">
          <img style="min-width: 0" src="resources/images/add-tela-inicial-1.png" alt="Adicionar &agrave; tela de inicio"/>
          <img style="min-width: 0" src="resources/images/add-tela-inicial-2.png" alt="Adicionar &agrave; tela de inicio"/>
        </div>

        <p>Ap&oacute;s confirmado, um &iacute;cone de atalho para o site Minha Barra ser&aacute; exibido entre seus aplicativos, &eacute; s&oacute; aproveitar!</p>

        <div class="d-flex flex-row justify-content-around align-items-center">
          <img style="min-width: 0" src="resources/images/atalho-tela-inicio.png" alt="&iacute;cone na tela de inicio"/>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
