<div id="kg-to-lb-container" class="d-flex justify-content-center">

  <mat-card id="kg-to-lb-card" class="mt-2">

    <mat-card-title class="d-flex justify-content-center">Convers&atilde;o kg <> lb</mat-card-title>

    <mat-card-subtitle class="d-flex center">
      Informe o peso em Kilos ou Libras para fazer a convers&atilde;o
    </mat-card-subtitle>

    <mat-card-content class="d-flex flex-column">

      <mat-form-field appearance="outline">
        <mat-label>Kilos (kg)</mat-label>
        <input #inputKg matInput type="number" (ngModelChange)="onChangeKg($event)"
               (click)="onClick($event)" [(ngModel)]="kgToLb.kg" input2DigitsDecimalNumber>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Libras (lb)</mat-label>
        <input #inputLb matInput type="number" (ngModelChange)="onChangeLb($event)"
               (click)="onClick($event)" [(ngModel)]="kgToLb.lb" input2DigitsDecimalNumber>
      </mat-form-field>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-row justify-content-around">
      <a mat-fab extended [routerLink]="['/pub/home/calc-percent', kgToLb.lb]">
        <mat-icon>percent</mat-icon>
        Calcular &#37;
      </a>
<!--      <a mat-fab extended [routerLink]="'/home/bar'">-->
<!--        <mat-icon>fitness_center</mat-icon>-->
<!--        Montar Barra Automático-->
<!--      </a>-->
    </mat-card-actions>

    <mat-card-footer></mat-card-footer>

  </mat-card>

</div>
