<div id="kg-to-lb-container" class="d-flex justify-content-center">

  <mat-card id="kg-to-lb-card" class="mt-2">

    <mat-card-title class="d-flex justify-content-center">Convers&atilde;o kg <> lb</mat-card-title>

    <mat-card-subtitle class="d-flex center">
      Informe o peso em kilos ou libras para fazer a convers&atilde;o
    </mat-card-subtitle>

    <mat-card-content class="d-flex flex-column">

      <mat-form-field appearance="outline">
        <mat-label>Kilos (kg)</mat-label>
        <input #inputKg matInput type="number" (ngModelChange)="onChangeKg($event)" [(ngModel)]="kgToLb.kg"
               (click)="onClick($event, inputKg)" (keydown)="onKeydown($event, inputKg)" input2DigitsDecimalNumber>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Libras (lb)</mat-label>
        <input #inputLb matInput type="number" (ngModelChange)="onChangeLb($event)" [(ngModel)]="kgToLb.lb"
               (click)="onClick($event, inputLb)" (keydown)="onKeydown($event, inputLb)" input2DigitsDecimalNumber>
      </mat-form-field>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-column justify-content-center">
      <a class="mt-1" mat-fab extended [routerLink]="['/pub/home/calc-percent', kgToLb.lb]" [disabled]="kgToLb.lb <= 0">
        <mat-icon>percent</mat-icon>
        Calcular &#37; de carga
      </a>
      <a class="mt-3" mat-fab extended [routerLink]="['/pub/home/bar-automatic', kgToLb.lb]" [disabled]="kgToLb.lb <= 0">
        <mat-icon>precision_manufacturing</mat-icon>
        <span>Montar barra autom&aacute;tico</span>
      </a>
    </mat-card-actions>

    <mat-card-footer></mat-card-footer>

  </mat-card>

</div>
