<div id="calc-percent-container" class="d-flex justify-content-center">

  <mat-card id="calc-percent-card" class="mt-2">

    <mat-card-title class="d-flex justify-content-center">C&aacute;lculo de &#37; de peso</mat-card-title>

    <mat-card-subtitle class="d-flex center">
      Informe o peso em kilos ou libras para obter os porcentuais parciais.
      Utilize o botão lateral (Lb) ou (Kg) para alterar a unidade de medida.
    </mat-card-subtitle>

    <mat-card-content class="d-flex flex-column">

      <mat-form-field appearance="outline">
        <mat-label>Peso</mat-label>
        <input matInput #inputWight type="number" [(ngModel)]="weight" (click)="onClick()"
               (ngModelChange)="onChange($event)" (keydown)="onKeydown($event)" input2DigitsDecimalNumber />
        <button
          mat-icon-button
          matSuffix
          (click)="changeUnitEvent($event)"
          [attr.aria-label]="'Mudar unidade de medida'"
          [attr.aria-pressed]="lbUnit()">
          <mat-icon style="transform: scale(1.5);" svgIcon="{{lbUnit() ? 'libras' : 'kilos'}}"></mat-icon>
        </button>
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="container mt-3">

        <div class="row table-head mb-2 mt-2">
          <div class="col-4">&#37;</div>
          <div class="col-4">Kilos</div>
          <div class="col-4">Libras</div>
        </div>

        <div *ngFor="let item of data">
          <div class="row mb-3 mt-3">
            <div class="col-4">{{item.percentage | percent : '1.0-2'}}</div>
            <div class="col-4">{{FunctionsNumberUtils.round(item.kilos)}} kg</div>
            <div class="col-4">{{FunctionsNumberUtils.round(item.libras)}} lb</div>
          </div>
          <mat-divider></mat-divider>
        </div>

      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-row justify-content-around"></mat-card-actions>

    <mat-card-footer></mat-card-footer>

  </mat-card>

</div>
