<mat-toolbar class="top" color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 style="font-size: 0.8em;">{{appTitle}}</h1>
</mat-toolbar>

<mat-sidenav-container autosize="true">
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list *ngIf="!isCollapsed">

      <a mat-list-item (click)="closeMenu()" [routerLink]="'/pub/home/bar-manual'">
        <span class="entry">
            <mat-icon>fitness_center</mat-icon>
            <span>Montar barra manual</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="closeMenu()" [routerLink]="['/pub/home/bar-automatic', 0]">
        <span class="entry">
            <mat-icon>precision_manufacturing</mat-icon>
            <span>Montar barra autom&aacute;tico</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="closeMenu()" [routerLink]="['/pub/home/calc-percent', 0]">
        <span class="entry">
            <mat-icon>percent</mat-icon>
            <span>Calcular &#37; de carga</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="closeMenu()" [routerLink]="'/pub/home/kg-to-lb'">
        <span class="entry">
            <mat-icon>calculate</mat-icon>
            <span>Convers&atilde;o kilos/libras</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="closeMenu()" [routerLink]="'/pub/home/install'">
        <span class="entry">
            <mat-icon>install_mobile</mat-icon>
            <span>Instale o App</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item target="_blank" (click)="closeMenu()" [routerLink]="'/pub/home/contato'">
        <span class="entry">
            <mat-icon>mail</mat-icon>
            <span>Contato</span>
         </span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item style="bottom: 40px; position: absolute;">
        <span class="entry">
            <span class="center">v{{version}}</span>
         </span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="bottom center" color="secondary">
  <h5 style="font-size: 0.5em;">Powered by <a target="_blank" href="{{ownerPageLink}}">{{ownerPageTitle}}</a></h5>
</mat-toolbar>
