<div id="login-container" class="d-flex justify-content-center">

  <mat-card id="login-card" class="mt-2">

    <mat-card-title class="d-flex justify-content-center">Login</mat-card-title>

    <mat-card-subtitle class="d-flex center">
      Para ter acesso a recursos exclusivos, acesse usando uma de suas redes sociais.
    </mat-card-subtitle>

    <mat-card-content>

      <div class="d-flex flex-fill flex-column justify-content-center center">

        <asl-google-signin-button class="d-flex justify-content-center" type='standard' size='large'
                                  text="signin_with" [locale]="'pt-BR'"
                                  theme="filled_blue" shape="rectangular"
                                  logo_alignment="left">
        </asl-google-signin-button>

        <a id="facebook-login" class="mt-3 mb-3 ps-2 pe-2" (click)="signInFacebook()">
          <i id="facebook-login-button" class="bi-facebook"></i>
          <span>Continuar com Facebook</span>
        </a>

      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-column justify-content-center"></mat-card-actions>

    <mat-card-footer></mat-card-footer>

  </mat-card>

</div>
