/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap-icons/font/bootstrap-icons";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; background-color: aliceblue; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

.table-head *{
  font-weight: bold;
}

.center {
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

mat-toolbar.bottom{
  position:fixed;
  bottom:0;
  z-index: 999;
  height: 40px;
  max-height: 40px;
}

mat-toolbar.top{
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100%;
}

.mat-mdc-mini-fab{
  box-shadow: none !important;
}

mat-card, .mat-card{
  background-color: azure;
  width: 100%;
  max-width: 100%;
  padding: 2px;
}

mat-card-subtitle, .mat-card-subtitle{
  margin-bottom: 1em !important;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  background-color: aliceblue;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

.barra{
  width: 90%;
  border-radius: 20px;
  border: 1px solid black;
  background-color: gray;
  height: 20px;
  margin: auto;
}

.anilha{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  border-radius: 100%;
  border: 3px solid black;
  font-size: 1.5em;
}

.separador-barra{
  width: 5px;
  margin: 0 1px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: black;
}

.anilha-barra{
  width: 15px;
  max-width: 20px;
  margin: 0 1px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 20px;
  border: 1px solid black;
}

.bar-box{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.font-0-7{
  font-size: 0.7em;
}

.min-width-0{
  min-width: 0 !important;
}

.transparencia-anilha{
  background-color: #eaeaea !important;
  border-color: gray !important;
  color: #4a4a4a !important;
}
